[submodule ".vim/pack/foo/start/ctrlp.vim"]
	path = .vim/pack/foo/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/foo/start/night-owl.vim"]
	path = .vim/pack/foo/start/night-owl.vim
	url = https://github.com/haishanh/night-owl.vim.git
[submodule ".vim/pack/foo/start/vim-airline"]
	path = .vim/pack/foo/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/foo/start/vim-bufonly"]
	path = .vim/pack/foo/start/vim-bufonly
	url = https://github.com/schickling/vim-bufonly.git
[submodule ".vim/pack/foo/start/vim-javascript"]
	path = .vim/pack/foo/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/foo/start/vim-jsx"]
	path = .vim/pack/foo/start/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule ".vim/pack/foo/start/vim-repeat"]
	path = .vim/pack/foo/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/pack/foo/start/vim-surround"]
	path = .vim/pack/foo/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/foo/start/vim-ripgrep"]
	path = .vim/pack/foo/start/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep.git
